/* https://coolors.co/e3d26f-ca895f-a15e49-4e3822-2f1b25 */

:root {
    --cafe-noir: #4E3822;
    --red-wood: #A15E49;
    --persian-orange: #CA895F;
    --citron: #E3D26F;
    --pistachio: #8CC084;
  }

* {
    background-color: var(--cafe-noir) !important;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    cursor: crosshair;
}

.navbar,
.title,
.nav-color {
    background-color: var(--cafe-noir) !important;
}

.title {
    color: white;
    font-size: xx-large;
   
}

.input {
    background-color: white !important;
    width: 400px;
    margin: 5px;
    padding: 5px;
}

button {
    width: 150px;
    background-color: var(--pistachio) !important;
    margin: 5px;
}

.imgStyle {
    border-radius: 5rem;
    border: solid 1px white;
}

#dogFactDisplay {
    text-align: center;
    padding: 10px !important;

}

footer {
    font-size: small;
}

.pups {
    font-size: x-small;
}

/* Hidden elemnets that display when buttons are clicked on Javascript */

/*.displayHistory {
    display: none;
} */
